#wrapper-navbar + .wrapper {
    padding-top: 80px;
    
    @include media-breakpoint-up(md) {
        padding-top: 8rem;
    }
}

#search-wrapper,
#error-404-wrapper {
    // padding-top: 10rem;

    .page-header {
        margin: $spacer * 2 0;
    }
}

.stretch-linked-block {
    position: relative !important;
    transition: $transition-fade;

    .editorskit-block-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 90;
    }

    &:hover {
        opacity: .9;

        .wp-block-button.is-style-arrow-link .wp-block-button__link:after {
            right: 0;
        }
    }
}

.stretched-link {
    color: $body-color;

    &:hover {
        text-decoration: none;
        color: $body-color;
    }
}

.entry-footer {
    position: relative;
    z-index: 2;
}

.term-header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    > * {
        border-bottom: 1px solid $gray-300;
        padding: $spacer;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            border-right: 1px solid $gray-300;
        }

        @include media-breakpoint-up(lg) {
            min-height: 8rem;
        }
    }

    .term-header-name {
        color: $white;
        background-color: $primary;
        width: 224px;
    }

    .term-header-title {
        flex-grow: 1;
        padding: $spacer $spacer * 2;

        .entry-title {
            width: 100%;
            text-align: left;
            font-size: $font-size-base * 1.5;
        }
    }

    .search-field {
        border-width: 0;
        border-right-width: 1px;
        font-size: $lead-font-size;
    }
}