// Local font example
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Light-webfont.woff') format('woff');
    font-weight: light;
    font-weight: 300;
    font-style: normal;
}